/*Inserta tu Codigo Responsive*/
@media screen and (max-width: 700px){
	.visible-xs{
   		position: relative;
    	left: 30px;
    	bottom: 20px;
	}
	#sidebar{
    	padding: 10px 0 10px 20px;
	}
	.top-menu{
		position: relative;
    	bottom: 35px;
    	right: 20px;
	}
}
